body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#menuCima {
display: flex;
background-color: rgb(11, 11, 12);
margin: 0;
}

#menuCima li {
color: white;
text-decoration: none;
display: block;
padding: 15px;
}

#menuCima li: first-child {
margin-right: auto;
}

.parte1 {
display: flex;
height: 33vh;
background-color: rgb(38, 39, 143);
}

.parte2 {
display: flex;
background-color: white;
width: 33vh;
}

.centralizeItens {
margin: auto;
text-align: center;
}

.imagemProjeto1 {
width: 40vh;
height: 25vh;
padding-left: 15px;
}

footer {
    background-color: teal;
    padding: 30px;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.botaoverde {
    background-color: yellowgreen;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}